.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}


@media screen and (max-width: 419px) {
  * {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .row {
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    margin: 0;
  }

  /* first container: LEZIONI */
  #lezioni {
    background: darkorange;
  }

  #lezioni .row h1,
  #lezioni .row .left,
  #lezioni .row .right,
  #lezioni .row .clear {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
  }

  #lezioni .row .right {
    text-align: left;
  }

  #lezioni .row h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  #lezioni .row .left,
  #lezioni .row .left {
    height: 110px;
  }

  #lezioni .row img {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    float: left;
  }

  #lezioni .row .right img {
    float: right;
  }

  /* Second container: Steps */
  #steps {
    background: GoldenRod;
  }

  #steps .row h1,
  #steps .row .left,
  #steps .row .central,
  #steps .row .right,
  #steps .row .clear  {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }

  #steps .row h1 {
    padding-bottom: 20px;
  }

  #steps .row .left,
  #steps .row .central,
  #steps .row .left {
    height: 110px;
    text-align: right;
  }

  #steps .row .central {
    text-align: left;
  }

  #steps .row h3 {
    padding: 5px 0;
  }

  #steps .row img {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    float: left;
  }

  #steps .row .central img {
    float: right;
  }

  /* third container: WHY */
  #why {
    background: silver;
  }

  #why .row h1,
  #why .row .first,
  #why .row .second,
  #why .row .third, {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }

  #why .row h1 {
    padding-bottom: 20px;
  }

  #why .row .first,
  #why .row .second,
  #why .row .third {
    margin: 0px;
    height: 135px;
    text-align: right;
  }

  #why .row .second {
    text-align: left;
    height: 165px;
  }

  #why .row h3 {
    padding: 10px 0 5px 0;
    text-align: right;
  }

  #why .row .second h3 {
    text-align: left;
  }

  #why .row img {
    margin: 5px 10px 20px 0;
    width: 90px;
    height: 90px;
    float: left;
  }

  #why .row .second img {
    float: right;
    margin: 5px 10px 20px 10px;
  }
}
